.box{
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin: 10% 20%;
    color: chocolate;
}
.row{
    border-style: solid;
    border-width: 3px;
    margin: 40px 10px;
    display: flex;
    justify-content: space-around;
}

.image{
    margin: 20px 20px;
}
.lable{
    margin: 20px 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
p{
    font-size: 20px;
}
.background{
    background-image: url(https://wallpaperaccess.com/full/183141.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
